DATABASE_DRIVER=postgres
DATABASE_URL=postgres://localhost:5432/exampledb
DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD=examplepassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=exampledb
NODE_ENV=development





DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD=examplepassword
DATABASE_NAME=exampledb
NODE_ENV=production
LOGGER_TYPE=tskv